#channelTabListWrapper{ margin-bottom: -1px;  position: relative; }
#channelTabList{ overflow: hidden;  border-radius: 4px 4px 0 0;  font-size: 9pt; }
.ToASettings,.channelTab{ cursor: pointer;  margin: 2px 2px 0 2px;  border-radius: 4px 4px 0 0;  display: inline-block;  padding: 2px 5px;  position: relative; }
#chatMessageList li:not(.processed){ display: none; }
.ChBadge{ display: inline-block;  margin-left: 3px;  padding: 1px 4px;  font-size: 7pt;  vertical-align: top;  border-color: green!important;  color: #fff !important; }
.muted-badge{ position: absolute;  left: 5px;  top: 5px; }
.mCSB_scrollTools.mCSB_scrollTools_horizontal{ top: 15px!important; }
.mCSB_horizontal.mCSB_inside > .mCSB_container{ margin-bottom: 0 !important; }
#channelPreviewWrapper{ position: absolute;  font-size: 9pt;  min-width: 350px;  max-width: 500px;  background-color: rgba(0, 0, 0, 0.75) !important; }
#channelPreviewContent{ max-height: 250px;  overflow-y: hidden; }
#channelPreviewActions{ position: absolute;  right: 2px;  top: 2px; }
.cpa{ display: inline-block;  margin-left: 2px;  padding: 1px 3px;  font-size: 9pt;  vertical-align: top;  cursor: pointer; }
#channelTabContextMenu{ position: absolute;  width: 175px;  background-color: rgba(0, 0, 0, 0.75) !important; }
.cctmButton{ text-align: left!important; }
#ToASettingsWindow{ position: absolute!important;  width: 50%;  min-width: 500px;  top: 150px;  left: 25%;  background-color: rgba(0, 0, 0, 0.75) !important;  z-index: 150; }
.cctmButton > span{ margin: 0 15px 0 5px;  font-size: 8.5pt;  padding: 2px; }
#channelTabContextMenu .cctmButton{ display: block;  width: 100%;  border-left: 0; }
#ToASettingsWindowContent label{ font-size: 10pt; }
#ToASettingsWindowContent{ padding-top: 5px; }
#ToASettingsWindowClose{ position: absolute;  right: 2px;  top: 2px;  color: #f00;  padding: 1px 4px;  cursor: pointer; }
.ToASChannelsHolder{ padding: 2px;  margin: 3px auto;  width: 97%; }
.ChMChannelWrapper{ display: inline-block;  margin: 1px 2px;  padding: 1px 4px;  font-size: 10pt; }
.ChMMChX{ margin-right: 4px;  padding: 1px 2px;  cursor: pointer; }
#ToASettingsWindow .tooltip{ width: 350px; }
#ToASettingsWindow .tooltip-inner{ max-width: 100%; }
.hand{ curson: pointer; }
#ToASChMAddGroup,.ToASChMChGRemove{ margin-top: 0; }
.incsort{ border-radius: 0 !important;  margin: 3px 1px;  padding: 2px; }
.chTabSelected{ background-image: linear-gradient(#03807c 0px, #02524f 100%) !important; }
#ToASChMMergedChannelsGroupsHolder > .incsort > span:nth-of-type(1){ border-left-width: 7px !important; }
@media screen and (max-width: 768px){ #ToASettingsWindow {    left: 5%; }
}.avi-margin-auto{ margin-left: auto;  margin-right: auto; }
.avi-highlight{ animation: pulsate-inner 0.5s infinite alternate; }
.avi-force-hide{ display: none !important; }
.avi-force-block{ display: block !important; }
.avi-table{ display: table; }
.avi-table > *{ display: table-row; }
.avi-table > * > *{ display: table-cell;  padding: 2px; }
.avi-link{ text-decoration: underline;  cursor: pointer; }
.avi-tip{ border-bottom: 1px dotted; }
.avi-menu-shortcut{ line-height: initial !important; }
.avi-menu-shortcut > svg{ border: 1px solid;  padding: 2px;  width: 24px;  height: 24px; }
table.avi{ margin-left: auto;  margin-right: auto;  border-collapse: collapse;  font-size: small;  font-weight: normal;  width: auto; }
table.avi > thead > tr > *,table.avi > tbody > tr > *{ border: 1px solid;  padding: 2px;  text-align: center; }
ul.avi{ list-style: none;  -webkit-margin-before: 0;  -webkit-margin-after: 0;  -webkit-margin-start: 0;  -webkit-margin-end: 0;  -webkit-padding-start: 0; }
.bold{ font-weight: bold; }
.popover{ background-color: rgba(0, 0, 0, 0.8); }
.popover > .arrow{ display: none; }
.avi-menu{ text-align: center; }
.avi-menu > :not(:last-child){ margin-right: 5px; }
.avi-menu a{ display: inline-block !important;  width: auto; }
#roaMenuContent{ margin: 0;  display: table;  width: 100%; }
#roaMenuContent{ padding: 0;  list-style-type: none; }
#roaMenuContent a{ display: block;  text-align: center;  vertical-align: middle;  text-decoration: none!important; }
.gradientBackground{ background-image: linear-gradient(to bottom, #025251 0, #012625 100%); }
#roaMenuContent a{ background-image: linear-gradient(to bottom, #025251 0, #012625 100%);  line-height: 26px;  border-top: 1px solid #01b0aa; }
.createTimerInput{ background-image: linear-gradient(to bottom, #025251 0, #012625 100%); }
.createTimerInputTime{ background-image: linear-gradient(to bottom, #025251 0, #012625 100%);  width: 20px; }
.createTimerCheckbox{ background-image: linear-gradient(to bottom, #025251 0, #012625 100%); }
.createTimerFeedback{ margin-top: 10px;  font-size: large;  text-align: center;  color: red; }
.timerDelete{ text-decoration: none!important;  margin-left: 1px; }
.moduleWindow{ width: 800px;  height: 500px;  position: absolute;  top: 0;  left: 0; }
.moduleWindowContent{ height: 100%; }
.chartWindow{ width: 800px;  height: 500px;  position: absolute;  top: 0;  left: 0; }
.chartTab{ width: 100%;  height: 250px;  top: 240px;  position: absolute; }
.chartCategoryTab{ width: 100%;  height: 100%; }
.dungeonWindow{ width: 800px;  height: 500px;  position: absolute;  top: 0;  left: 0; }
.dungeonWindowContent{ overflow-y: scroll; }
.debugWindow{ width: 800px;  height: 500px;  position: absolute;  top: 0;  left: 0; }
.debugWindowContent{ overflow-y: scroll; }
.noteWindow{ width: 800px;  height: 500px;  position: absolute;  top: 0;  left: 0; }
.gainWindow{ width: 800px;  height: 500px;  position: absolute;  top: 0;  left: 0; }
.gainWindowContent{ overflow-y: scroll; }
.settingsWindow{ width: 800px;  height: 500px;  position: absolute;  top: 0;  left: 0; }
.settingsWindowContent{ overflow-y: scroll; }
.timerEditorWindow{ width: 800px;  height: 500px;  position: absolute;  top: 0;  left: 0; }
.gainFilterCheckbox{ background-image: linear-gradient(to bottom, #025251 0, #012625 100%); }
